.App {
  text-align: center;
}

.navbar{
  display: flex;
  justify-content: space-evenly;

}

.navbar a {
text-decoration: none;

}

form > input {
  margin-top: 20px;
  width: 220px;
height: 30px;
left: -5px;
top: 371px;
}

.button{

width: 343px;
height: 44px;
left: 16px;
top: 1168px;

background: rgba(237, 85, 59, 0.4);
border-radius: 12px
}